/* =========================
SHOP HERO
========================= */


.shop-hero{

min-height:50vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:

linear-gradient(
rgba(15,76,129,.8),
rgba(15,76,129,.8)
),

url("../images/gadgets.jpg");


background-size:cover;

color:white;

padding-top:100px;

}



.shop-hero h1{

font-size:55px;

margin-bottom:20px;

}







/* PRODUCTS */


.product-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.product-card{

background:white;

border-radius:20px;

padding:25px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

text-align:center;

}



.product-card img{

height:250px;

object-fit:cover;

border-radius:15px;

}



.product-card h4{

color:#D4AF37;

font-size:22px;

margin:15px;

}



.product-card button,
.order-box button{


background:#0F4C81;

color:white;

border:none;

padding:12px 30px;

border-radius:30px;

cursor:pointer;

font-weight:600;

}






/* ORDER BOX */


.order-box{

background:#f5f7fa;

text-align:center;

}



#cart{

background:white;

padding:25px;

border-radius:20px;

max-width:600px;

margin:30px auto;

}




#orderResult{

margin-top:25px;

font-weight:600;

color:#0F4C81;

}





@media(max-width:900px){


.product-grid{

grid-template-columns:1fr;

}


.shop-hero h1{

font-size:40px;

}


}
